version: '3'
services:
  postgis:
    build: 
      context: postgis
    image: postgis
    volumes:
      - ./spectrum-wrangler/fcclicense:/tmp/fcclicense/
      - ./postgis/data_directory:/var/lib/postgresql/data
    ports:
      - 5432:5432
    expose:
      - 5432
  spectrum-wrangler:
    build: 
      context: spectrum-wrangler
    image: spectrum-wrangler
    volumes:
      - ./spectrum-wrangler/fcclicense:/tmp/fcclicense/
    depends_on:
      - postgis